[Unit]
Description=e-Paper Display
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/epdtext/app.py
User=pi
Restart=always

[Install]
WantedBy=default.target

