[Unit]
Description=e-Paper Display
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/epdtext/app.py
WorkingDirectory=/home/pi/epdtext
User=pi
Restart=on-failure

[Install]
WantedBy=default.target

