FONT = '/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf'
TIME = 1000
CALENDAR_URLS = [
    dict(type='webcal', url='<enter your webcal address>'),
    dict(type='caldav', url='<enter your caldav address>', username='<caldav username>', password='<caldav password'),
]
SCREENS = [
    'affirmations',
    'calendar',
    'fortune',
    'uptime',
]
AFFIRMATIONS = [
    '<list your affirmations here>',
]
