FONT = '/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf'
TIME = 1000
CALENDAR_URLS = ['<enter your webcal address>']
SCREENS = [
    'affirmations',
    'calendar',
    'fortune',
    'uptime',
]
AFFIRMATIONS = [
    '<list your affirmations here>',
]
