DEBUG = False

# ** Leave commented to log to console **
# LOGFILE = '/home/pi/epd.log'

# Path to the logo to print on the `uptime` screen
# ** Must be a black and white 45x45 image file **
LOGO = '/home/pi/epdtext/logo.png'

# Monospace fonts are recommended, as the text wrapping is based on character length
FONT = '/usr/share/fonts/truetype/dejavu/DejaVuSansMono.ttf'

# How long to wait (in seconds) before automatically redrawing the screen
TIME = 900

# Note: you *must* define at least one calendar to use the 'calendar' screen,
#       and at least one caldav calendar to use the 'tasks' screen.
CALENDAR_URLS = [
    { type: 'webcal', url: '<enter your webcal address>' },
    { type: 'caldav', url: '<enter your caldav address>', username: '<caldav username>', password: '<caldav password' },
]

# How long to wait before pulling the calendar events from the web again
CALENDAR_REFRESH = 900

# Default timezone to use for calendar and tasks screens
TIMEZONE = "UTC"

# See the `screens` directory for available screens, or create your own (see the wiki)
SCREENS = [
    'affirmations',
    'calendar',
    'fortune',
    'uptime',
]

# The affirmations to display, include anything that would help to be occasionally reminded of!
AFFIRMATIONS = [
    '<list your affirmations here>',
]
